selenium==4.15.1
pytest==6.2.5
pytest-base-url==2.0.0
pytest-html==3.2.0
pytest-metadata==2.0.4
pytest-selenium==4.0.0
pytest-variables==2.0.0
requests==2.32.0
selenium==4.15.1
pytest
python-dotenv~=1.1.0
webdriver-manager==3.8.6